/*****************************************************
*   Cascading Style Sheets (CSS) Style Definitions   *
*   Created by Osman Balci for the CarStar app.      *
*****************************************************/

html, body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0 0 0 0;    /* top right bottom left */
    width: 100%;        /* Set page width horizontally 100% */
    height: 100%;       /* Set page height vertically 100% */
}

body, p {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: maroon;
}
/*
h2 {
    font-family:baskerville,'palatino linotype',georgia,serif;
    font-weight: normal;
    text-decoration: none;
}
400 100px/1.3
*/
h2 {
    font-family: 'Lobster Two', Helvetica, sans-serif;
    color: #c44997;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}



/*
=======================================
|   Site Template Component Styling   |
=======================================
*/

/*
Style the div component whose unique id is "page"
<div id="page"> in siteTemplate
*/
#page {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
/*
Style the div component whose unique id is "header"
<div id="header"> in siteTemplate
*/
#header {
    background-color: pink;
    width: 100%;
    height: 84px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-bottom: 16px;
}
/*
Style the div component whose unique id is "editableContent"
<div id="editableContent"> in siteTemplate
*/
#editableContent {
    /* height = 100% window height - (header height 84px + footer height 100px) */
    height: calc(100% - 184px);
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-bottom: 16px;
}
/*
Style the div component whose unique id is "footer"
<div id="footer"> in siteTemplate
*/
#footer {
    height: 100px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}



.button  {
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.125em;
    font-weight: 300;
    text-decoration: #FFFFFF;
    border: 2px solid #2196F3;
    max-width: 350px;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    line-height: 1;
    height: auto;
    color: #FFFFFF;
    background: #2196F3;
}

/*
==========================
|   Styling Hyperlinks   |
==========================
The <a> tag defines a hyperlink.
Hyperlinks (or links) are styled differently depending on what state they are in:
    a:link      - normal state (unvisited link)
    a:visited   - visited state (link clicked on by user earlier)
    a:hover     - mouse over state (link when the user hovers over it)
    a:active    - active state (link currently clicked on by user)
*/

/* Set the font family for the standard HTML tag "a" for hyperlinks */
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}


a:link {
    text-decoration: none; /* Do not underline the link in normal state */
}

a:visited {
    text-decoration: none; /* Do not underline the link in visited state */
}

a:hover {
    text-decoration: underline; /* Underline the link in hover state */
}

a:active {
    text-decoration: underline; /* Underline the link in active state */
}

/*
==============================
|   Main Style Definitions   |
==============================
*/

/* Used in headerTemplate */
.headerTitle {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: white;
    overflow: hidden;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: lightsalmon;
    color: black;
}

/*
Proportionately scale image to show on mobile devices and smaller browser windows.
Scale the image downward, but do not enlarge it beyond its actual width size.
*/
.scalableImage {
    max-width: 100%;
    height: auto;
    border: none;
}

.writePanelGridColumn1 {
    text-align: right;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: papayawhip !important;
    width: 25%;
}

/* Style p:panelGrid Column 1 */
.panelGridColumn1 {
    text-align: right;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: papayawhip !important;
}

/* Style p:panelGrid Column 2 */
.panelGridColumn2 {
    text-align: left;
    white-space: nowrap;        /* Disallow line break */
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: oldlace !important;
}

/* Used to color panel backgrounds */
.ui-panel-content {
    background-color: oldlace !important;
}

/*
======================================
|   App Specific Style Definitions   |
======================================
*/

/* Style the p:contentFlow image captions in CarLogosFlow.xhtml */
.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/*
=========================================
|   Skinning PrimeFaces UI Components   |
=========================================
*/

/* Skinning PrimeFaces Galleria Image Slider */
.ui-galleria-caption {
    position: absolute;
    left: 0 !important;
    background-color: rgba(240, 255, 255, 0.8) !important;
    padding: 0 !important;
}

/* PrimeFaces dataTable Row Paddings */
.ui-datatable-data td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
/*for quotes*/
blockquote{
    font-size: 1.4em;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #A486B8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#A486B8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}


.vid-container {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

/*
------------------------------------------
Styles for Responsive YouTube Video Player
------------------------------------------
We use the 9/16 (=56.25) ratio to play YouTube Videos.
The padding-top applies the ratio of 56.25% to make sure
that the width and height preserve the 9/16 ratio.
Resizing the window of the player resizes the video player.
*/

.responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.logo {
    width: 5%
}

.detail {
    width: 95%;
    padding-left: 25px;
}

.detail td {
    font-size: 24px;
}

/* Style class for <ul> */
.verticalMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: azure;
    border: 1px solid darkgray;

}

/* Style class for <li> */
.verticalMenuItem {
    text-align: left;
    border-bottom: 1px solid darkgray;
}

/* Style class for <li> and the <a> tag that defines a hyperlink */
.verticalMenuItem a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;  /* Do not underline the hyperlink */
}

/* Style class for <ul>, <li> and <a> hyperlink tag */
.verticalMenu, .verticalMenuItem a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
}

/* Style class for <li> last-child */
.verticalMenuItem:last-child {
    border-bottom: none;
}

/* Style class for <li> for mouse over state */
.verticalMenuItem a:hover {
    background-color: lightskyblue;
}

.columnBlogImage {
    width: 100px;
}
.columnMiddlePart {
    width: 70%;
}
.columnViewButton {
    width: 15%;
}
/* Used in headerTemplate to style user's small photo in a circle */
.smallProfilePhoto {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
}

.video-item .video-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.video-item .video-image {
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
